.contactUs {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	border-bottom: 1px solid var(--Black, #121212);
	border-left: 1px solid var(--Black, #121212);
	border-right: 1px solid var(--Black, #121212);

	&__leftCl {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: row;

		height: 40vh;
	}

	&__heading {
		display: flex;
		height: 40vh;
		padding: 10vh;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		div {
			width: 40vw;
			height: 15vh;

			div {
				display: flex;
				margin-top: 3vh;
				gap: 1vh;
			}
		}

		input {
			gap: 12px;
			flex: 1 0 0;
			width: 20vw;
			height: 8vh;
		}

		button {
			display: flex;
			justify-content: center;
			background: var(--Black, #121212);
			color: var(--White, #FFF);
			width: 20vw;
			height: 8vh;
			border: none;
			gap: 1vw;
			flex: 1 0 0;
		}
	}

	&__rightCl {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-left: 1px solid var(--Black, #121212);
		div {
			display: flex;
			flex-direction: row;

			div {
				display: flex;
				width: 25vw;
				height: 10.6vh;
				padding: 16px 40px;
				justify-content: space-between;
				align-items: center;
			}

			div:first-child {
				justify-content: center;
			}
		}
	}

	&__bouquets {
		height: 89.2vh;
		width: 50vw;	
	}

	&__media {
		border-left: 1px solid var(--Black, #121212);
	}
}