@font-face {
	font-family: 'Gilroy';
	src: url(../../../public/fonts/gilroy/Gilroy-Regular.eot);
	src: local("0") url(../../../public/fonts/gilroy/Gilroy-Regular.svg) format('svg'),
		url(../../../public/fonts/gilroy/Gilroy-Regular.ttf) format('truetype'),
		url(../../../public/fonts/gilroy/Gilroy-Regular.woff) format('woff'),
		url(../../../public/fonts/gilroy/Gilroy-Regular.woff2) format('woff2');
	font-weight: normal;
	font-size: 5vh;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	font-family: Gilroy;
}

body {
	min-height: 100%;
}

h2 {
	color: var(--Black, #121212);

	/* Desktop & Tablet/H2 */

	font-size: 7vh;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	/* 60px */
}

h3 {
	color: var(--Black, #121212);

	/* Desktop & Tablet/H3 */

	font-size: 5vh;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 45.6px */
}

h5 {
	color: var(--Gray, #808080);

	/* Desktop & Tablet/H5 */

	font-size: 4vh;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 25.2px */
}

h6 {
	color: var(--Black, #121212);
	text-align: center;

	/* Desktop & Tablet/H6 */

	font-size: 3.5vh;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 19.2px */
}

p {
	color: var(--black-brightness-90, rgba(18, 18, 18, 0.90));

	/* Desktop & Tablet/Body */

	font-size: 1.9vh;
	font-style: normal;
	font-weight: 400;
	line-height: 140%;
	/* 22.4px */
}

.span__overline {
	color: var(--Black, #121212);
	/* Desktop & Tablet/Overline */

	font-size: 3vh;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 16.8px */
	text-transform: uppercase;
}

.link {
	color: var(--Black, #121212);

	/* Desktop & Tablet/Link */

	font-size: 2vh;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
	/* 19.2px */
	letter-spacing: 0.4px;
}

.caption {
	color: var(--Gray, #808080);

	/* Desktop & Tablet/Caption */

	font-size: 2vh;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	/* 16.8px */
}

.subtitle {
	color: var(--Black, #121212);

	/* Desktop & Tablet/Subtitle */

	font-size: 2vh;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	/* 25.2px */
}

button {
	color: var(--Black, #121212);
	font-family: Gilroy;
	font-size: 1.2vw;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: 0.4px;
	padding: 2vh 5vh 0 5vh;
}